{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">
    
    <title>IMS - Title</title>

</head>

<body class="bg">

    <main id="wrapper">
    
      <nav id="sidebar">

        <div class="sidebar-header">
          <a class="navbar-brand titlefont mr-4" href="#">
            <h3>IMS-Django </h3>
          </a>
        </div>

        <ul class="list-unstyled sidebar-components">
          {% if request.user.is_authenticated %}
          <li>
            <a class="sidebar-text sidebar-button" href="#"><i class="fas fa-home"></i> Home</a>
          </li>
          <li>
            <a href="#inventorySubmenu" data-toggle="collapse"
              class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-boxes"></i> Inventory</a>
            <ul class="collapse list-unstyled" id="inventorySubmenu">
              <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url "create_stock" %}"><i class="fas fa-dot-circle"></i> Add
                  New</a> </li>
              <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url "stock_list" %}"><i class="fas fa-dot-circle"></i>
                  Inventory List</a> </li>
            </ul>
          </li>
          <li>
            <a href="#purchaseSubmenu" data-toggle="collapse"
              class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-cash-register"></i>
              Purchases</a>
            <ul class="collapse list-unstyled" id="purchaseSubmenu">
              <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url "select_supplier" %}"><i class="fas fa-dot-circle"></i> New
                  Incoming Stock</a> </li>
              <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="#"><i class="fas fa-dot-circle"></i>
                  Purchases List</a> </li>
            </ul>
          </li>
          <li>
          </li>
          <li>
            <a href="#supplierSubmenu" data-toggle="collapse"
              class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-dolly-flatbed"></i>
              Suppliers</a>
            <ul class="collapse list-unstyled" id="supplierSubmenu">
              <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url "create_supplier" %}"><i class="fas fa-dot-circle"></i> Add
                  New Supplier</a> </li>
              <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url "supplier_list" %}"><i class="fas fa-dot-circle"></i>
                  Suppliers List</a> </li>
            </ul>
          </li>
          <li>
            <a class="sidebar-text sidebar-button" href="#"><i class="fas fa-info-circle"></i> About</a>
          </li>

          <li class="bottomleft">
            <a href="#UserSubmenu" data-toggle="collapse"
              class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-user-circle"></i> Admin</a>
            <ul class="collapse list-unstyled" id="UserSubmenu">
              {% if request.user.is_superuser %}
                <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url "admin:index" %}"><i class="fas fa-dot-circle"></i> Admin
                    Page</a> </li>
              {% endif %}
              <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url "logout" %}"><i class="fas fa-dot-circle"></i>
                  Logout</a> </li>
            {% else %}  
            </ul>
          </li>
          {% endif %}
        </ul>
      </nav>
    
    <div id="content">

      <div class="row">
        <div class="col-md-12">
           {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}"> {{message}} </div> 
            {% endfor %}
           {% endif %}
		      
          <div class="container">

            {% block content %}
            
            
            {% endblock content %}
            <script src="{% static './js/Chart.min.js' %}"></script>  
            <script>
                Chart.defaults.global.defaultFontColor = '#3c3c3c';
                var barConfig = {
                    type: 'bar',
                    data: {
                        datasets: [{
                            backgroundColor: '#1a79a5',
                            label: 'Stock in Inventory',
                            data: [34,35,38,39],
                        }],
                        labels: ['name','name2','name3','name4']
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                    },
                };
                window.onload = function() {
                    var ctx = document.getElementById('bar-graph').getContext('2d');
                    window.BarStock = new Chart(ctx, barConfig);
                };

            </script>


          </div>

        </div>
      </div>
      <br>

    </div>

    </main>   
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

</body>

</html>